{% extends "base.html" %}
{% block title %}Пост № {{ post.pk }} пользователя {{ profile.get_full_name }}{{ group.title }}{% endblock %}
{% block header %}{% endblock %}
{% block content %}
{% load thumbnail %}
    <main role="main" class="container">
        <div class="row">
            {% include "profile_item.html" with profile=profile %}
            <div class="col-md-9">

                <!-- Начало блока с отдельным постом -->
                    <!-- Пост -->
                <div class="card mb-3 mt-1 shadow-sm">
                    {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
                        <img class="card-img" src="{{ im.url }}">
                    {% endthumbnail %}
                    <div class="card-body">
                        <p class="card-text">
                            <!-- Ссылка на страницу автора в атрибуте href; username автора в тексте ссылки -->
                            <a href="/{{ profile.username }}/"><strong class="d-block text-gray-dark">@{{ profile.username }}</strong></a>
                            <!-- Текст поста -->
                            {{ post.text }}
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group ">
                                    <!-- Ссылка на редактирование, показывается только автору записи -->
                                    {%if user.is_authenticated%}
                                    <a class="btn btn-sm text-muted" href="/{{ profile.username }}/{{ post.pk }}/comment/" role="button">Добавить комментарий</a>
                                    {% endif %}
                                    {% if user == post.author %}
                                    <a class="btn btn-sm text-muted" href="/{{ post.author }}/{{ post.pk }}/edit" role="button">Редактировать</a>
                                    {% endif %}
                            </div>
                            <!-- Дата публикации  -->
                            <small class="text-muted">{{ post.pub_date|date:"d M Y H:i" }}</small>
                        </div>
                        {% include 'comments.html' %}
                    </div>
                </div>
             </div>
        </div>
    </main>

{% endblock %}